<!-- Collapsable Card Example -->
<div class="card shadow mb-4">
  <!-- Card Header - Accordion -->
  <a href="#collapseCardExamplecc" class="d-block card-header py-3" data-toggle="collapse"
      role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Contacto con el cliente</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExamplecc">
      <div class="card-body">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th>Fecha</th>
                                  <th>Empresa</th>
                                  <th>Descripcion</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let contacto of cliente?.contactos">
                                  <td>{{contacto.fecha}}</td>
                                  <td>{{contacto.empresa}}</td>
                                  <td>{{contacto.descripcion}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
